/* css styles */
.quarto-title-banner{
  background-position: center center;
  height: 500px;
}

h1.title{
  text-align: center;
  padding-left: 159px;
  padding-top: 150px;
  
}

@media (max-height: 876px) {
  .quarto-title-banner{
    max-height: 30vh;
    height: 30vh;
    display: flex;
  }
}

@media screen and (max-width: 952px){
  /*--    --*/
  .quarto-title-banner{
    max-height: 30vh;
    /*height: 66vh;*/
    display: flex;
  }
  h1.title  {
    position: relative;
    background-attachment: scroll;
    background-position: center center;
    display: block;
    padding: none;
    align-content: center;
    object-fit: contain;
    padding: 10vh;
  }

}
