/* css styles */
.quarto-title-banner{
  background-position: center center;
  height: 500px;
}

h1.title{
  text-align: center;
  padding-left: 159px;
  padding-top: 150px;
  
}

@media (max-height: 876px) {
  .textdiv {
    max-height: 75vh;
    height: 100vh;
    display: flex;
  }
}

@media screen and (max-width: 952px){
  /*--    --*/
  .textdiv  {
    max-height: 75vh;
    /*height: 66vh;*/
    display: flex;
  }
  .textdiv  {
    position: relative;
    background-attachment: scroll;
    background-position: 0% 0% center;
    display: block;
    padding: none;
    align-content: center;
    object-fit: contain;
    padding: 1em;
  }

}
